.DS_Store
Icon?
.gradle
build/
out/
classes/
run/
.factorypath
*.launch
.settings
.classpath
.project
.metadata
eclipse
*.launch
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
bin/
jars/
/.nb-gradle/
